@font-face
{
font-family: myserif;
src: url(fonts/IBMPlexSerif-Regular.ttf);
}
@font-face
{
font-family: mysansserif;
src: url(fonts/RobotoCondensed-Regular.ttf);
}
:root
{
    --favcolor: rgb(206,74,135);
}
body
{
background-color:rgb(197, 231, 220)
}
h1, caption
{
    color: rgb(23, 22, 87);
    font-size:5vw;
    text-align: center;
    font-family: myserif;
    font-variant:small-caps;
}
h2
{
    color: var(--favcolor);
    font-size:4vw;
    font-family: mysansserif;
 }

ul
{
    font-size: 3vw;
}
:hover
{
    color:purple; 
}
p
{
    color: rgb(23, 22, 87);
    font-size:3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:left;    
}
img
{
    width: 15vmax;
}
iframe
{
    width: 35vmax;
}
