@font-face
{
font-family: myserif;
src: url(fonts/IBMPlexSerif-Regular.ttf);
}
@font-face
{
font-family: mysansserif;
src: url(fonts/RobotoCondensed-Regular.ttf);
}
:root
{
    --favcolor: rgb(206,74,135);
}

body
{
background-color:rgb(197, 231, 220)
}

h1  
{
    color: rgb(23, 22, 87);
    font-size:6vw;
    text-align: center;
    font-family:myserif;
    font-variant:small-caps;
}

h2
{
    color: var(--favcolor);
    font-size:3vw;
    font-family: mysansserif;
 
}


#mainpic
{
    border: 20px solid rgb(203, 74, 135);
    padding:10px;
    margin: 50px;
    float: left;
}

div ul
{
    color: var(--favcolor);        
    font-size:3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;    
}


p
{
    color: rgb(23, 22, 87);
    font-size:3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    clear: left;
}

div.button
{
    text-align:center
}




