body
{
background-color:rgb(197, 231, 220)
}
:root
{
    --favcolor: rgb(206,74,135);
}
@font-face
{
font-family: myserif;
src: url(fonts/IBMPlexSerif-Regular.ttf);
}
@font-face
{
font-family: mysansserif;
src: url(fonts/RobotoCondensed-Regular.ttf);
}

h1
{
    color: rgb(23, 22, 87);
    font-size:75px;
    text-align: center;
    font-family: myserif;
    font-variant:small-caps;
}

section, h2
{
    color: var(--favcolor);
    font-size:40px;
    font-family: mysansserif;
 }
 section
 {
    border: 1px solid;
    margin: 20px;
    padding: 10px;
 }
 

ul
{
    color: rgb(23, 22, 87);
    font-size: 20pt
}
:hover
{
    color:purple; 
}
.date
{
    color:darkslategrey;
}
nav a
{
    color:rgb(28, 53, 168)
}
