@font-face
{
font-family: myserif;
src: url(fonts/IBMPlexSerif-Regular.ttf);
}
@font-face
{
font-family: mysansserif;
src: url(fonts/RobotoCondensed-Regular.ttf);
}

body
{
background-color:rgb(232, 240, 235);
}


:hover
{
    color:rgb(231, 61, 61); 
}

.container
{
margin: 0 auto;
flex: 1;
min-width: 100%;
}


h1, caption
{
    color: rgb(11, 59, 51);
    font-size: 8vw;
    text-align: center;
    font-family: myserif;
    font-variant: small-caps;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vmax;
    width: 40vmin;  
}


th
      {
        width:200px;
        font-size:20px;
        color:rgb(11, 59, 51);
      }
th,td
      {
        border:3px solid black;
        padding-left:15px;
        padding-right:15px;
        padding-top:15px;
        padding-bottom:15px;  
      }

table
{
   margin-left: auto;
   margin-right: auto;
}

h2
{
    color: rgb(11, 59, 51);
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; 
    padding-bottom: 40px;   
}

div.nav
{
    font-size: 5vw;
    padding-bottom: 50px;
    justify-content: center;
    gap: 80px;
}

div.back
{
    text-align: center;
    font-size: 4vw;
    padding-bottom: 40px;
}

footer
{
    background-color:rgb(89, 197, 247); 
    width: absolute;
}

footer .wrapper 
{
    color:rgb(11, 59, 51);
    text-align: center;
    font-size: 2vw;
    margin: 0 auto;
    padding: 20px;
    min-width: 100%;
}



